.profile {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 16px;
    background-color: var(--color-white);
    border: 1px solid var(--color-dark-blue);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 8px var(--color-shadow);
    margin-bottom: 20px;
}

.profile__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.profile__avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    background: var(--color-gray-light);
}

.profile__avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile__avatar-placeholder {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: var(--color-text-secondary);
}

.profile__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    gap: 16px;
}

.profile__name {
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--color-text-primary);
    width: fit-content;
}

.profile__city {
    font-size: 0.9rem;
    color: var(--color-text-secondary);
    width: fit-content;
}

.profile__edit-btn {
    cursor: pointer;
    font-size: 0.85rem;
    text-decoration: underline;
    margin-left: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 8px 16px;
    background-color: var(--color-white);
    border: 2px solid var(--color-dark-blue);
    border-radius: 4px;
    transition: background-color 0.2s;
    color: var(--color-text-primary);
    text-align: center;
    width: 100%;
    text-decoration: none;
}

.profile__edit-btn:hover {
    background-color: var(--color-gray-light);
}